html {
  min-height: 100%;
}

body {
    margin: 50px auto;
    width: 75%;
    background: white;
    background: linear-gradient(#bababa, white);
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: #666666;
}

a:hover {
    text-decoration: underline;
}

p, ul {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

h1, h2, h3, h4 {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2.3em;
}

h4 {
    font-size: 1.9em;
}

nav ul, footer ul {
    font-size: 1em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

footer {
  position: fixed;
  bottom: 0;
    border-top: 1px solid #bababa;
    font-size: .8em;
}


/* Projects */

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
